---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Curso de After Effect | Le Renard Club">
  <div class="w-[100dvw] h-[800px] flex justify-center items-center bg-photo2">
    <div class="absolute z-10 w-2/3 pr-12">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-16" viewBox="0 0 512 512"
        ><path
          fill="#ffffff"
          d="M389.186 214.341c4.678 8.911 6.247 18.416 6.107 28.248h-67.587c4.105-26.449 14.979-42.58 36.555-42.095c12.549 0 20.857 4.622 24.925 13.847m-248.688 36.002H198.1l-29.909-112.99c-3.756 25.557-16.927 69.1-27.693 112.99M512 0v512H0V0zM274.413 365.548L195.228 98.582h-54.73c0 5.92-.38 12.376-1.108 14.955c-.744 2.596-1.108 4.985-1.108 7.2L68.336 365.548h41.384l19.7-75.326h77.543l21.684 75.326zm161.852-120.744c0-17.724-5.176-35.447-15.508-53.171c-10.35-17.724-28.802-26.586-55.388-26.586c-25.858 0-45.971 10.16-60.371 30.463C277.833 231.333 275 299 303.89 338.408c13.656 20.32 36.365 30.464 68.126 30.464c17.393-.044 33.978-2.142 48.74-8.863c1.723-1.774 2.168-2.616 2.216-5.539v-29.909c-.05-2.074-1.187-2.16-3.323-2.214c-21.615 10.563-53.033 10.187-68.928 1.022c-14.79-8.527-23.485-26.35-23.015-47.547h63.141c11.078 0 19.94-.174 26.586-.554c6.647-.364 11.44-.918 14.4-1.662c.728 0 1.282-.174 1.662-.554l1.662-1.662c0-2.215.173-5.712.554-10.524c.363-4.794.554-10.142.554-16.062"
        ></path></svg
      >
      <h1 class="uppercase font-dosis text-9xl font-bold text-white w-2/3">
        AFTER EFFECT FOR MOTION
      </h1>
      <p class="text-white text-xs w-1/2">
        Nos introduciremos, veremos interfaz y cómo trabajar de manera fluida,
        ingresa a diferentes ramas como el motion, la composición, el uso
        tipográfico, formas.
      </p>
    </div>
  </div>
  <section class="w-2/3 mx-auto my-20">
    <div class="grid grid-cols-3 gap-32">
      <div>
        <h3 class="font-dosis text-xl font-medium text-cyan-500 mb-8">
          <span class="block text-black">APRENDÉ</span> AFTER EFFECT PARA MOTION
        </h3>

        <p class="text-sm italic font-light flex flex-col gap-8">
          <span>
            Estas herramientas son un standart, tanto para editar, como para
            post-producir material.
          </span>

          <span>
            El curso esta enfocado en Motion graphic y en el control de un
            abanico de herramientas para generar diferentes contenido visual.
          </span>

          <span>
            ¡Para tener en cuenta! La curva de aprendizaje de Premier es un poco
            más intuitiva y sencilla ya que es un editor de video, contrario a
            After Effect el cual es un compositor, tiene mayor posibilidades o
            flexibilidad para trabajar, pero requiere un poco más de tiempo de
            incorporar algunas de sus herramientas. Pero tranquilos ¡para eso
            vamos a trabajar juntos si queres usar las dos herramientas! Nuestro
            objetivo principal es que entiendas el funcionamiento y las
            posibilidades de cada programa.
          </span>
        </p>
      </div>

      <div class="flex flex-col gap-6">
        <h3 class="text-2xl font-bold text-yellow-green font-dosis">
          DÍA Y HORARIO
        </h3>

        <p class="text-sm italic font-light flex flex-col">
          <span>Agosto</span>
          <span class="font-bold">Sabados 16:00 Hs a 18:20hs</span>
          <span>Duración Inicial: 12 clases | 3 Meses</span>
          <span>Intermedios y Avanzados: Formato Regular</span>
        </p>

        <p class="font-dosis uppercase text-xl font-bold">
          Precio: <span class="text-red-500"> $0000 </span>
        </p>

        <a href="/" class="text-sm underline">Version gratis</a>
      </div>

      <div>
        <h3 class="text-2xl font-bold text-yellow-green font-dosis mb-6">
          <span class="text-5xl block"> 2025 </span>
          REQUISITOS
        </h3>

        <p class="text-sm italic font-light flex flex-col">
          <span>
            <span class="font-bold">Si venis con notebook: </span> Procesador I3,
            Memoria Ram 8gb
          </span>

          <span> Manejo fluido de windows. Equipo 100% operativo </span>
          <span> Mayor 17 Años. </span>
          <span> Podes trabajar con un equipo del estudio. </span>
        </p>
      </div>
    </div>

    <button
      class="bg-violet-700 flex gap-3 text-yellow-green font-dosis font-bold uppercase rounded-lg py-4 px-8 hover:bg-violet-900 duration-150 my-16"
      >Descargar plan de estudio <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-7 stroke-current"
        viewBox="0 0 24 24"
        ><path
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m7 10l5 5l5-5m-5 5V3m10 12v4a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-4"
        ></path></svg
      ></button
    >

    <h3 class="text-2xl font-bold text-yellow-green mb-6">Trailer</h3>
    <img class="w-full mb-36" src="/src/assets/imgs/image.png" alt="trailer" />

    <div class="grid grid-cols-3 gap-32 mb-32">
      <div>
        <h3 class="font-dosis text-xl font-medium text-cyan-500 mb-8">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-14 mb-5"
            viewBox="0 0 512 512"
            ><path
              fill="#000000"
              d="M389.186 214.341c4.678 8.911 6.247 18.416 6.107 28.248h-67.587c4.105-26.449 14.979-42.58 36.555-42.095c12.549 0 20.857 4.622 24.925 13.847m-248.688 36.002H198.1l-29.909-112.99c-3.756 25.557-16.927 69.1-27.693 112.99M512 0v512H0V0zM274.413 365.548L195.228 98.582h-54.73c0 5.92-.38 12.376-1.108 14.955c-.744 2.596-1.108 4.985-1.108 7.2L68.336 365.548h41.384l19.7-75.326h77.543l21.684 75.326zm161.852-120.744c0-17.724-5.176-35.447-15.508-53.171c-10.35-17.724-28.802-26.586-55.388-26.586c-25.858 0-45.971 10.16-60.371 30.463C277.833 231.333 275 299 303.89 338.408c13.656 20.32 36.365 30.464 68.126 30.464c17.393-.044 33.978-2.142 48.74-8.863c1.723-1.774 2.168-2.616 2.216-5.539v-29.909c-.05-2.074-1.187-2.16-3.323-2.214c-21.615 10.563-53.033 10.187-68.928 1.022c-14.79-8.527-23.485-26.35-23.015-47.547h63.141c11.078 0 19.94-.174 26.586-.554c6.647-.364 11.44-.918 14.4-1.662c.728 0 1.282-.174 1.662-.554l1.662-1.662c0-2.215.173-5.712.554-10.524c.363-4.794.554-10.142.554-16.062"
            ></path></svg
          >
          <span class="block text-black">APRENDÉ</span> AFTER EFFECT
        </h3>

        <p class="text-sm italic font-light">
          Nos introduciremos en en After Effect y su interfaz y cómo trabajar de
          manera fluida, se ingresa a diferentes ramas como el motion, la
          composición, el uso tipográfico y de formas
        </p>
      </div>
      <div>
        <h3 class="text-2xl font-bold text-yellow-green font-dosis mb-6">
          DIRIGIDO A
        </h3>

        <p class="text-sm italic font-light flex flex-col gap-2">
          <span> Está orientado a 3 tipos de personas. </span>
          <span>
            A- Personas con interes en iniciarse en estas herramientas.
          </span>
          <span> – </span>
          <span>
            B- Personas que buscan crear contenido para diferentes plataformas.
          </span>
          <span> – </span>
          <span>
            C- Personas que desean actualizarse en estas herramientas.
          </span>
        </p>
      </div>
      <div>
        <h3 class="text-2xl font-bold text-yellow-green font-dosis mb-6">
          TEORÍA INICIAL & MOTION
        </h3>

        <p class="text-sm italic font-light flex flex-col">
          Aprendé a utilizar las herramientas iniciales para Animación de
          formas, transiciónes, utilización tipografícas, curvas de animación y
          más. <br /> Vamos a repasar los conceptos básicos de formatos y extensiones
          de video, proporciones para diferentes soportes (mobile, tv) y como exportar
          de acuerdo a las necesidades o requerimientos.
        </p>
      </div>
    </div>
  </section>
</Layout>
