---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Club">
  <div class="absolute left-0 overflow-hidden w-full">
    <div
      class="h-[40rem] w-[100dvw] overflow-hidden flex items-center justify-center relative"
    >
      <video
        autoplay
        preload="auto"
        loop
        src="src/assets/videos/skate.mp4"
        class="object-contain overflow-clip w-screen aspect-video"></video>

      <div class="absolute z-10 w-2/3">
        <svg
          class="fill-white w-20"
          id="Capa_1"
          data-name="Capa 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 310.91 310.91"
        >
          <path
            d="M276.81,212.37c-4.33-3.6-8.8-2.94-10.98-.43-.99.86-1.62,1.53-2.24,2.19-.42.44-.81.87-1.31,1.34l-51.9-19.06-1.46-.57c1.38-1.5,2.61-2.65,2.61-2.65l13.31-10.53c.68-.43,1.48-.58,2.27-.41l17.73,3.75.39.06c4.23.49,7.21-.16,8.98-.55l.55-.12c.42-.09.82-.23,1.19-.44l17.98-9.93c.18-.11.43-.27.7-.49,2.44-1.94,4.07-5.89,2.57-9.15-.48-1.04-1.5-2.48-3.66-3.48-1.68-.77-3.53-.96-5.11-.51l-6.54,2.46c-.4.15-.82.22-1.24.19-1.28-.07-2.63-.27-4.5-.68-.89-.19-1.63-.77-2.03-1.58l-6.31-12.69c-.56-1.12-1.59-1.91-2.81-2.18l-91.23-21.87c-1.93-.41-3.91.56-5.03,2.48-1.15,1.98-1.03,4.24.31,5.75.04.05.09.1.13.14.97,1.06,6.71,4.85,16,10.96,9.37,6.16,20.91,13.76,23.73,16.39-.52.51-1.5,1.46-2.57,2.45-2.02,1.87-4.96,2.42-7.49,1.41-1.38-.55-45.26-21.48-46.56-22.18-1.05-.57-13.62-5.57-22.96-4.61-4.9.38-7.46,1.11-9.52,1.7-2.21.63-3.96,1.13-7.71.9-9.98-.62-33.88-13.64-32.58-42.33,1.06-23.52,18.19-40.72,27.4-49.96,2.64-2.65,4.55-4.57,5.27-5.84.5-.89.45-1.86-.13-2.61-.69-.88-1.96-1.24-3.17-.9-26.23,7.39-54.39,19.86-64.4,56.22-8.79,31.95,12.31,50.35,12.55,50.55,13.84,10.63,25,13.31,31.93,13.68,6.86.37,19.33-.3,23.94-.95-.73,1.14-1.99,3.03-3.07,4.66-2.3,3.47-3.07,4.63-3.32,5.08-3.36,2.19-16.92,8.42-37.2,9.73-15.31.99-21.53-1.88-24.87-3.42-1.23-.57-2.65-.58-3.89-.03-1.21.54-2.13,1.56-2.52,2.81-1.1,3.53-2.21,6.15-3.19,8.46-.79,1.87-1.54,3.64-2.13,5.54-1.09,1.9-1.95,5.94-.48,9.09,1.06,2.27,3.16,3.72,6.09,4.22,5.38.9,8.75-.5,10.03-4.16l.68-1.98c.66-1.94,1.09-3.17,1.76-4.74,9.48,2.34,17.48,2.22,35.07-.47,7.85-1.42,18.08-3.72,23.76-6.81-.3,1.11-.75,2.71-1.11,3.99l-44.38,21.44c-4.69,2.81-6.05,6.05-4.42,10.5l5.85,13.94c.07.17.15.34.24.49,1.65,2.85,5.07,3.93,8.7,2.75,3.42-1.11,6.66-4.28,6.19-8.87-.08-.78-.73-2.44-1.69-4.68-.88-2.06,1.42-3.36,2.14-3.71,1.79-.87,29.98-13.71,37.05-16.16,6.85-2.37,21.3-10.44,23.46-11.65l.49.22c2.52,1.15,12.36,4.24,20.96,7.25,4.15,1.45,20.71,6.21,22.72,6.56.09.26.23.66.42,1.16,1.52,4.07,4.47,11.19,7.17,13.09.17.12.31.23.42.35,9.14,10.16,41.02,46.76,41.55,47.39.66,1.26,2.33,1.72,3.12,1.79.12.01.24.02.34.01.44-.01.76-.13,1.11-.26l12.64-4.45c4.14-1.5,5.6-3.38,6.58-5.24,1.63-4.2-.41-8.82-4.63-10.52-1.61-.65-3.37-.64-4.94.03-1.44.61-4.11,1.58-4.11,1.58-1.38.42-2.22.31-3.33-1.46l-19.59-26.37-.08-.09c-.69-.61-1.02-1.51-.88-2.4l1.62-10.1c1.58.55,3.92,1.37,6.79,2.38l54.76,21.41c1.37.52,2.92.03,3.74-1.18l4.03-5.93h0s3.92-5.58,3.92-5.58c1.17-1.99,4.73-8.03.34-11.67Z"
          ></path>
          <g>
            <path
              d="M285.42,147.86h-3.12s0-.83,0-.83c2.5,0,4.62,0,7.12,0v.83s-3.12,0-3.12,0v8s-.88,0-.88,0v-8Z"
            ></path>
            <path
              d="M298.59,148.33l-3.29,4.85h-.25s-3.31-4.91-3.31-4.91v7.6s-.88,0-.88,0v-8.84h1.09s3.23,4.87,3.23,4.87l3.19-4.87h1.11s0,8.84,0,8.84h-.88s0-7.54,0-7.54Z"
            ></path>
          </g>
        </svg>
        <h1 class="uppercase font-dosis text-9xl font-bold text-white">Club</h1>
        <p class="text-white text-xs w-1/2">
          El Club de Le Renard es un espacio de exploración creativa y
          entendimiento técnico de softwares relacionados con el diseño, motion
          graphic, ilustración, e iluminado y modelado 3D.
        </p>
      </div>
    </div>

    <div class="w-2/3 mx-auto my-40">
      <div class="w-64 mb-28">
        <h3 class="font-dosis font-medium text-xl">ESPÍRITU</h3>
        <h4 class="font-dosis font-medium text-xl text-red-500 mb-8">
          CREATIVO EN LA PATAGONIA
        </h4>
        <p class="italic text-sm font-normal">
          Hola! este es el Club Secreto de Le Renard, un club de aprendizaje de
          herramientas vinculadas a la Comunicación visual, Motion y 3D. Donde
          charlamos de procesos, busquedas y conceptos.
          <span class="font-bold">
            El Objetivo es compartir diferentes conocimiento sobre ilustración,
            diseño & animación;
          </span>

          Orientarlos en aspectos técnicos y diferentes corrientes y lenguajes,
          pueden consultar todas las actividades en la pestaña del menu.
        </p>
      </div>

      <div class="flex justify-between">
        <div class="w-64">
          <h4 class="text-5xl font-dosis font-bold mb-3 text-yellow-green">
            Enfoque
          </h4>
          <p class="text-sm italic">
            Actualmente me enfoco en desarrollar piezas para motion y en pre
            producción para animación con un fuerte soporte en el diseño gráfico
            como base.
          </p>
        </div>

        <div class="w-64">
          <h4 class="text-5xl font-dosis font-bold mb-3 text-yellow-green">
            AREA DE INFLUENCIAS
          </h4>

          <ul>
            <li>Animación 2D</li>
            <li>Motion Graphics</li>
            <li>PreProducción Animación</li>
            <li>Ilustración & Composición</li>
            <li>Modelado 3D</li>
            <li>Softwares</li>
            <li>Trabajo en equipo & Roles</li>
          </ul>
        </div>
      </div>

      <h4 class="text-2xl font-dosis font-bold text-yellow-green mb-12">
        DIRIGIDO A
      </h4>
      <div class="flex justify-between gap-28">
        <div>
          <h4
            class="text-2xl font-dosis font-bold mb-3 text-yellow-green uppercase"
          >
            Profesionales
          </h4>
          <p class="text-sm italic">
            Si sos un profesional que quiere sumar una nueva herramienta de
            conocimiento o especializarse en algún área en particular esto es
            ideal.
          </p>
        </div>

        <div>
          <h4
            class="text-2xl font-dosis font-bold mb-3 text-yellow-green uppercase"
          >
            alumnos pre-carreras
          </h4>

          <p class="text-sm italic">
            Si estás por estudiar alguna carrera vinculada a estas áreas (ver
            áreas de influencia) te recomendamos acercarte y participar en algún
            curso y/o taller. Te dará una mayor visión y conocimiento sobre
            estas temáticas y su influencia.
          </p>
        </div>

        <div>
          <h4
            class="text-2xl font-dosis font-bold mb-3 text-yellow-green uppercase"
          >
            QUIERO APRENDER UN OFICIO.
          </h4>

          <p class="text-sm italic">
            Si querés vincularte y tener un oficio que te encante, date la
            oportunidad, no esperes mas, este es el momento.
          </p>
        </div>
      </div>

      <div class="flex flex-col gap-7 mt-32">
        <img
          class="w-10"
          src="/src/assets/icons/startIcon.svg"
          alt="start icon"
        />
        <h3 class="text-5xl font-bold text-red-500 font-dosis uppercase">
          todos los talleres
        </h3>
        <p class="text-sm italic font-light pr-52">
          En Le Renard preparamos talleres cortos abordando distintas
          disciplinas digitales y analogícas para ofrecer conocimiento y
          herramientas relacionados con el desarrollo creativo y la creación de
          contenido.
        </p>
      </div>
    </div>

    <div
      class="h-[34rem] w-[100dvw] overflow-hidden flex items-center justify-center"
    >
      <video
        autoplay
        preload="auto"
        loop
        src="src/assets/videos/3Dshort.mp4"
        class="object-contain overflow-clip w-screen aspect-video"></video>

      <div class="absolute z-10 w-2/3">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-16" viewBox="0 0 24 24"
          ><path
            fill="#ffffff"
            d="M12.58 3.12v.01c-.31 0-.62.09-.87.26c-.5.35-.56.93-.11 1.3L14.46 7l-8.73.03h-.01C5 7.03 4.3 7.5 4.16 8.1c-.16.61.34 1.12 1.1 1.12l4.43-.01l-7.93 6.09c-.76.57-.99 1.52-.52 2.12c.48.61 1.49.61 2.26 0l4.3-3.53s-.07.48-.06.76c0 .29.1.85.23 1.28c.29.93.78 1.78 1.46 2.53c.7.77 1.57 1.39 2.57 1.83c1.03.47 2.17.71 3.34.71c1.16 0 2.31-.25 3.35-.72c1-.44 1.86-1.07 2.56-1.84c.68-.75 1.17-1.61 1.46-2.53c.14-.47.23-.94.29-1.41c0-.47 0-.94-.06-1.41c-.13-.91-.44-1.77-.94-2.55c-.44-.71-1-1.34-1.69-1.87l-6.89-5.29a1.42 1.42 0 0 0-.84-.26m2.76 6.09c1.16 0 2.25.38 3.12 1.08c.44.36.79.78 1.04 1.25c.27.46.44 1.01.5 1.57c.04.56-.04 1.12-.23 1.66c-.2.54-.52 1.04-.95 1.49c-.89.9-2.13 1.42-3.48 1.42c-1.34 0-2.59-.51-3.48-1.41c-.43-.44-.75-.95-.95-1.49a3.9 3.9 0 0 1-.22-1.66c.05-.56.22-1.09.48-1.57c.26-.47.62-.89 1.06-1.25c.86-.71 1.96-1.09 3.11-1.09m.1 1.4c-.78 0-1.5.28-2.03.73c-.54.46-.91 1.1-.94 1.84c-.04.75.26 1.45.79 1.97c.54.53 1.32.85 2.18.85s1.63-.32 2.18-.85c.53-.52.83-1.22.79-1.97c-.04-.74-.41-1.38-.94-1.84c-.53-.45-1.25-.73-2.03-.73"
          ></path></svg
        >
        <h2 class="uppercase font-dosis text-9xl font-bold text-white">
          PROYECTO 3D
        </h2>
        <p class="text-white text-xs w-1/2">
          Aprende a elaborar un pequeño proyecto 3D, Texturiza, modela e ilumina
          una escena desde la teoría a a la practica en Blender 3D.
        </p>

        <a href="/blender" class="flex items-center gap-5 mt-14">
          <svg
            class="w-12"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1024 1024"
            ><path
              fill="#ffffff"
              d="M512 0C229.232 0 0 229.232 0 512c0 282.784 229.232 512 512 512c282.784 0 512-229.216 512-512C1024 229.232 794.784 0 512 0m0 961.008c-247.024 0-448-201.984-448-449.01c0-247.024 200.976-448 448-448s448 200.977 448 448s-200.976 449.01-448 449.01M736 480H544V288c0-17.664-14.336-32-32-32s-32 14.336-32 32v192H288c-17.664 0-32 14.336-32 32s14.336 32 32 32h192v192c0 17.664 14.336 32 32 32s32-14.336 32-32V544h192c17.664 0 32-14.336 32-32s-14.336-32-32-32"
            ></path></svg
          >
          <span class="text-3xl text-white font-semibold font-dosis">
            Quiero saber más
          </span>
        </a>
      </div>
    </div>

    <div
      class="w-[100dvw] h-[800px] flex justify-center items-center bg-photo2"
    >
      <div class="absolute z-10 w-2/3 pr-12">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-16"
          viewBox="0 0 512 512"
          ><path
            fill="#ffffff"
            d="M389.186 214.341c4.678 8.911 6.247 18.416 6.107 28.248h-67.587c4.105-26.449 14.979-42.58 36.555-42.095c12.549 0 20.857 4.622 24.925 13.847m-248.688 36.002H198.1l-29.909-112.99c-3.756 25.557-16.927 69.1-27.693 112.99M512 0v512H0V0zM274.413 365.548L195.228 98.582h-54.73c0 5.92-.38 12.376-1.108 14.955c-.744 2.596-1.108 4.985-1.108 7.2L68.336 365.548h41.384l19.7-75.326h77.543l21.684 75.326zm161.852-120.744c0-17.724-5.176-35.447-15.508-53.171c-10.35-17.724-28.802-26.586-55.388-26.586c-25.858 0-45.971 10.16-60.371 30.463C277.833 231.333 275 299 303.89 338.408c13.656 20.32 36.365 30.464 68.126 30.464c17.393-.044 33.978-2.142 48.74-8.863c1.723-1.774 2.168-2.616 2.216-5.539v-29.909c-.05-2.074-1.187-2.16-3.323-2.214c-21.615 10.563-53.033 10.187-68.928 1.022c-14.79-8.527-23.485-26.35-23.015-47.547h63.141c11.078 0 19.94-.174 26.586-.554c6.647-.364 11.44-.918 14.4-1.662c.728 0 1.282-.174 1.662-.554l1.662-1.662c0-2.215.173-5.712.554-10.524c.363-4.794.554-10.142.554-16.062"
          ></path></svg
        >
        <h2 class="uppercase font-dosis text-9xl font-bold text-white w-2/3">
          AFTER EFFECT FOR MOTION
        </h2>
        <p class="text-white text-xs w-1/2">
          Nos introduciremos, veremos interfaz y cómo trabajar de manera fluida,
          ingresa a diferentes ramas como el motion, la composición, el uso
          tipográfico, formas.
        </p>

        <a href="/after" class="flex items-center gap-5 mt-14">
          <svg
            class="w-12"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1024 1024"
            ><path
              fill="#ffffff"
              d="M512 0C229.232 0 0 229.232 0 512c0 282.784 229.232 512 512 512c282.784 0 512-229.216 512-512C1024 229.232 794.784 0 512 0m0 961.008c-247.024 0-448-201.984-448-449.01c0-247.024 200.976-448 448-448s448 200.977 448 448s-200.976 449.01-448 449.01M736 480H544V288c0-17.664-14.336-32-32-32s-32 14.336-32 32v192H288c-17.664 0-32 14.336-32 32s14.336 32 32 32h192v192c0 17.664 14.336 32 32 32s32-14.336 32-32V544h192c17.664 0 32-14.336 32-32s-14.336-32-32-32"
            ></path></svg
          >
          <span class="text-3xl text-white font-semibold font-dosis">
            Quiero saber más
          </span>
        </a>
      </div>
    </div>
  </div>
</Layout>
