---
import Layout from "../layouts/Layout.astro";
import Carrousel from "../components/Carrousel.astro";
---

<Layout title="Le Renard Club">
  <section class="md:container md:mx-auto w-full px-6 md:p-0">
    <div class="grid grid-cols-5 grid-rows-4 gap-4 mt-10 mb-6">
      <div class="md:col-span-3 col-span-5 row-span-4 py-4">
        <img
          class="rounded-lg w-fill"
          src="/assets/imgs/newBrand.jpg"
          alt="newbrand"
        />
      </div>

      <div
        class="md:row-span-2 md:col-start-4 md:col-span-1 md:gap-0 gap-4 col-span-5 pt-4 flex md:flex-col flex-row"
      >
        <img
          src="/assets/imgs/diseno.jpg"
          alt="diseño"
          class="rounded-lg md:w-fill w-56 object-cover"
        />
        <div class="sm:gap-2 flex flex-col">
          <h3 class="md:text-base text-2xl font-black italic mt-2">
            Lineamientos de Diseño
          </h3>
          <p class="md:text-xs text-lg">
            En este curso practicamos lineamientos y fundamentos del diseño para
            abordar diferente proyectos.
          </p>
        </div>
      </div>

      <div
        class="md:row-span-2 md:col-span-1 md:col-start-4 md:row-start-3 md:gap-0 gap-4 col-span-5 md:p-0 pt-4 flex md:flex-col flex-row"
      >
        <img
          src="/assets/imgs/motion.jpg"
          alt="motion"
          class="rounded-lg md:w-fill w-56 object-cover"
        />
        <div class="sm:gap-2 flex flex-col">
          <h3 class="md:text-base text-2xl font-black italic mt-2">
            Motion Graphics
          </h3>
          <p class="md:text-xs text-lg">
            El mix de tecnicas de animación con bases en el diseño para crear
            contenido
          </p>
        </div>
      </div>

      <div
        class="md:row-span-2 md:col-start-5 md:row-start-1 md:col-span-1 pt-4 col-span-5 flex md:flex-col md:gap-0 gap-4"
      >
        <img
          src="/assets/imgs/Ilustracion2thumbnail.jpg"
          alt="diseño"
          class="rounded-lg md:w-fill w-56 object-cover"
        />

        <div class="sm:gap-2 flex flex-col">
          <h3 class="md:text-base text-2xl font-black italic mt-2">
            Club de Ilustracióin.
          </h3>
          <p class="md:text-xs text-lg">
            Taller donde vemos la ilustración como soporte para diseño y afines.
          </p>
        </div>
      </div>

      <div
        class="md:row-span-2 md:col-start-5 md:row-start-3 md:col-span-1 col-span-5 flex md:flex-col md:gap-0 gap-4"
      >
        <img
          src="/assets/imgs/indieAnimation.jpg"
          alt="diseño"
          class="rounded-lg md:w-fill w-56 object-cover"
        />
        <div class="sm:gap-2 flex flex-col">
          <h3 class="md:text-base text-2xl font-black italic mt-2">
            Indie Animation
          </h3>
          <p class="md:text-xs text-lg">
            Taller de Animación Experimental con diferentes recursos.
          </p>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-5 grid-rows-1 gap-4 mb-12 border-b-2 pb-12">
      <div class="col-span-5 md:col-span-3">
        <div class="mb-6">
          <h3 class="uppercase md:text-xl text-2xl">
            LE RENARD : ESTANDARES VISUALES
          </h3>
          <p class="md:text-sm text-lg">
            Trabajamos algunos meses en el rediseño de marca y en las
            definiciones de los standares visuales de Le Renard.
          </p>
        </div>
        <button
          type="button"
          class="text-white md:text-sm text-lg bg-black focus:ring-4 focus:ring-blue-300 rounded-md font-semibold uppercase px-3 py-1 me-2 mb-2 focus:outline-none"
          >visitar</button
        >
      </div>
      <Carrousel />
    </div>

    <div>
      <h3 class="md:text-xl text-3xl">PRESENCIAL & ONLINE</h3>
      <p class="md:text-sm text-lg">
        Herramientas que utilizamos normalmente en clase.
      </p>
      <ul
        class="flex justify-between py-10 md:text-sm text-lg font-dosis border-b-2 md:flex-row flex-col md:gap-0 gap-8"
      >
        <li class="flex items-center gap-2 font-bold justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8"
            viewBox="0 0 24 24"
            ><g
              fill="none"
              stroke="#000000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              ><path
                d="M21 7v10a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4V7a4 4 0 0 1 4-4h10a4 4 0 0 1 4 4m-5 5v4m0-7v.01"
              ></path><path
                d="m7 16l1.125-3M13 16l-1.125-3m-3.75 0L10 8l1.875 5m-3.75 0h3.75"
              ></path></g
            ></svg
          >
          ADOBE ILLUSTRATOR
        </li>
        <li class="flex items-center gap-2 font-bold justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8"
            viewBox="0 0 24 24"
            ><path
              fill="#000000"
              fill-rule="evenodd"
              d="M9.095 15.5H7.753V8.185c.484-.088 1.155-.154 2.068-.154c.99 0 1.716.209 2.19.605c.44.363.725.946.725 1.639c0 .704-.22 1.287-.638 1.683c-.539.539-1.386.792-2.343.792c-.253 0-.484-.011-.66-.044zm.781-6.435c-.374 0-.638.033-.78.066v2.508c.164.044.384.055.66.055c1.011 0 1.627-.495 1.627-1.364c0-.825-.572-1.265-1.507-1.265"
              clip-rule="evenodd"></path><path
              fill="#000000"
              d="M14.465 15.621c-.65 0-1.232-.165-1.628-.385l.264-.979c.308.187.89.385 1.375.385c.594 0 .858-.242.858-.594c0-.363-.22-.55-.88-.781c-1.045-.363-1.485-.935-1.474-1.562c0-.946.78-1.683 2.024-1.683c.594 0 1.11.154 1.419.319l-.264.957a2.4 2.4 0 0 0-1.133-.308c-.484 0-.748.231-.748.561c0 .341.253.506.935.748c.968.352 1.419.847 1.43 1.639c0 .968-.76 1.683-2.178 1.683"
            ></path><path
              fill="#000000"
              fill-rule="evenodd"
              d="M17.258 2.833a47.7 47.7 0 0 0-10.516 0c-2.012.225-3.637 1.81-3.873 3.832a46 46 0 0 0 0 10.67c.236 2.022 1.86 3.607 3.873 3.832a47.8 47.8 0 0 0 10.516 0c2.012-.225 3.637-1.81 3.873-3.832a46 46 0 0 0 0-10.67c-.236-2.022-1.86-3.607-3.873-3.832m-10.35 1.49a46.2 46.2 0 0 1 10.184 0c1.33.15 2.395 1.199 2.55 2.517a44.4 44.4 0 0 1 0 10.32a2.89 2.89 0 0 1-2.55 2.516a46.2 46.2 0 0 1-10.184 0a2.89 2.89 0 0 1-2.55-2.516a44.4 44.4 0 0 1 0-10.32a2.89 2.89 0 0 1 2.55-2.516"
              clip-rule="evenodd"></path></svg
          >
          ADOBE PHOTOSHOP
        </li>
        <li class="flex items-center gap-2 font-bold justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8"
            viewBox="0 0 24 24"
            ><g
              fill="none"
              stroke="#000000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              ><path
                d="M21 7v10a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4V7a4 4 0 0 1 4-4h10a4 4 0 0 1 4 4"
              ></path><path
                d="M14 13v-1a2 2 0 0 1 2-2v0a2 2 0 0 1 2 2v1zm0 0v1a2 2 0 0 0 2 2h1.5M6 16l1.125-3M12 16l-1.125-3m-3.75 0L9 8l1.875 5m-3.75 0h3.75"
              ></path></g
            ></svg
          >
          ADOBE AFTER EFFECT
        </li>
        <li class="flex items-center gap-2 font-bold justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8"
            viewBox="0 0 24 24"
            ><path
              fill="#000000"
              d="M12.58 3.12v.01c-.31 0-.62.09-.87.26c-.5.35-.56.93-.11 1.3L14.46 7l-8.73.03h-.01C5 7.03 4.3 7.5 4.16 8.1c-.16.61.34 1.12 1.1 1.12l4.43-.01l-7.93 6.09c-.76.57-.99 1.52-.52 2.12c.48.61 1.49.61 2.26 0l4.3-3.53s-.07.48-.06.76c0 .29.1.85.23 1.28c.29.93.78 1.78 1.46 2.53c.7.77 1.57 1.39 2.57 1.83c1.03.47 2.17.71 3.34.71c1.16 0 2.31-.25 3.35-.72c1-.44 1.86-1.07 2.56-1.84c.68-.75 1.17-1.61 1.46-2.53c.14-.47.23-.94.29-1.41c0-.47 0-.94-.06-1.41c-.13-.91-.44-1.77-.94-2.55c-.44-.71-1-1.34-1.69-1.87l-6.89-5.29a1.42 1.42 0 0 0-.84-.26m2.76 6.09c1.16 0 2.25.38 3.12 1.08c.44.36.79.78 1.04 1.25c.27.46.44 1.01.5 1.57c.04.56-.04 1.12-.23 1.66c-.2.54-.52 1.04-.95 1.49c-.89.9-2.13 1.42-3.48 1.42c-1.34 0-2.59-.51-3.48-1.41c-.43-.44-.75-.95-.95-1.49a3.9 3.9 0 0 1-.22-1.66c.05-.56.22-1.09.48-1.57c.26-.47.62-.89 1.06-1.25c.86-.71 1.96-1.09 3.11-1.09m.1 1.4c-.78 0-1.5.28-2.03.73c-.54.46-.91 1.1-.94 1.84c-.04.75.26 1.45.79 1.97c.54.53 1.32.85 2.18.85s1.63-.32 2.18-.85c.53-.52.83-1.22.79-1.97c-.04-.74-.41-1.38-.94-1.84c-.53-.45-1.25-.73-2.03-.73"
            ></path></svg
          >
          BLENDER 3D
        </li>
      </ul>
    </div>

    <div class="flex md:gap-4 gap-16 mb-56 mt-11 flex-col md:flex-row">
      <div class="flex-1">
        <img src="/assets/imgs/new-brand-2-800x400.jpg" alt="newbrand" />
        <div>
          <h5 class="md:text-base text-xl font-bold mt-6">Estudio</h5>
          <p class="md:text-sm text-lg">
            Por tareas de Producción, Motion Graphics o Diseño pueden
            contactarse aquí. hola@renard.club
          </p>
        </div>
      </div>

      <div class="flex-1">
        <img src="/assets/imgs/BRAND.jpg" alt="BRAND" />
        <div>
          <h5 class="md:text-base text-xl font-bold mt-6">
            Le Renard / Estandares Visuales
          </h5>
          <p class="md:text-sm text-lg">
            En este caso preparamos una guía de marca de Le Renard.
          </p>
        </div>
      </div>

      <div class="flex-1">
        <img src="/assets/imgs/Le-Renard-Escuela.jpg" alt="Le-Renard-Escuela" />
        <div>
          <h5 class="md:text-base text-xl font-bold mt-6">Club</h5>
          <p class="md:text-sm text-lg">
            Le Renard – es un espacio de aprendizaje de herramientas vinculadas
            a la Comunicación visual, Motion Design y 3D, fundado en 2017.
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
