<div
  id="controls-carousel"
  class="relative w-full md:col-span-2 col-span-5 bg-[#f4efef] p-5 pr-20"
  data-carousel="slide"
>
  <!-- Carousel wrapper -->
  <div class="relative h-32 overflow-hidden">
    <!-- Item 1 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
      <div>
        <h5 class="md:text-xl text-2xl font-bold">Formativo</h5>
        <p class="md:text-xs text-base text-gray-500">
          Le Renard es un espacio formativo que busca que mejores o tengas un
          primer contacto con alguna especialidad.
        </p>
      </div>
    </div>
    <!-- Item 2 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <div>
        <h5 class="md:text-xl text-2xl font-bold">Shortcuts</h5>
        <p class="md:text-xs text-base text-gray-500">
          La utilización de shortcuts acompañado de la memoría muscular es uno
          de los temas en todos los talleres de software.
        </p>
      </div>
    </div>
    <!-- Item 3 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <div>
        <h5 class="md:text-xl text-2xl font-bold">Pre-Universitarios.</h5>
        <p class="md:text-xs text-base text-gray-500">
          Si estas pensando en estudíar una carrera relacionado con el diseño,
          la ilustración, El desarrollo 3D, Motion, te puedo orientar , dar un
          empujon y aclarar dudas. Escribime: hola@renard.club
        </p>
      </div>
    </div>

    <!-- Item 5 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item></div>
  </div>
  <!-- Slider controls -->

  <button
    type="button"
    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4"></path>
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>
