<button
  id="dropdownDefaultButton"
  data-dropdown-toggle="dropdown"
  class="uppercase font-medium flex justify-center items-center"
  type="button"
  >actividades<svg
    class="w-2.5 h-2.5 ms-3"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 10 6"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="m1 1 4 4 4-4"></path>
  </svg>
</button>

<!-- Dropdown menu -->
<div
  id="dropdown"
  class="z-10 hidden bg-white divide-y divide-gray-100 shadow md:w-56 border border-black"
>
  <ul
    class="py-4 md:text-xs text-xl uppercase font-semibold gap-4 flex flex-col"
    aria-labelledby="dropdownDefaultButton"
  >
    <li>
      <a
        href="/after"
        class="block px-4 py-2 opacity-50 dark:hover:opacity-100 duration-300"
        >after effect para motion</a
      >
    </li>

    <li>
      <a
        href="/blender"
        class="block px-4 py-2 opacity-50 dark:hover:opacity-100 duration-300"
        >blender para proyectos 3d</a
      >
    </li>
  </ul>
</div>
