<footer class="font-dosis border-t-2 py-6">
  <div class="w-full">
    <div class="flex flex-col justify-center items-center gap-4">
      <a href="/" class="flex items-center flex-col">
        <img src="/assets/logo.svg" class="w-24" alt="Le Renard Logo" />
        <span class="self-center text-xl font-bold">Le Renard Club</span>
      </a>
      <ul
        class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 gap-4 uppercase"
      >
        <li>
          <a href="/after" class="hover:underline">After efect</a>
        </li>
        <span>•</span>
        <li>
          <a href="/blender" class="hover:underline">blender</a>
        </li>
        <span>•</span>
        <li>
          <a href="/club" class="hover:underline">club</a>
        </li>
        <span>•</span>
        <li>
          <a href="/contacto" class="hover:underline">contacto</a>
        </li>
      </ul>

      <ul class="flex gap-2">
        <li>
          <a
            target="_blank"
            href="https://www.instagram.com/holarenard?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
          >
            <img
              src="/assets/icons/IconInstagram.svg"
              alt="Instragram icon"
              class="w-6"
            />
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.behance.net/lerenardcompany">
            <img
              src="/assets/icons/IconBehance.svg"
              alt="Behance icon"
              class="w-6"
            />
          </a>
        </li>
      </ul>

      <div>
        <span class="block text-sm text-gray-500 text-center mb-1"
          >Web design by <a
            target="_blank"
            href="https://diegosoto.netlify.app"
            class="hover:underline font-bold">Diego Soto</a
          ></span
        >
        <span class="block text-sm text-gray-500 text-center"
          >© 2025 <a href="/" class="hover:underline">LeRenard™</a>. All
          Rights Reserved.</span
        >
      </div>
    </div>
  </div>
</footer>
